html {
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-y: scroll;
}

* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

img[data-src] {
    opacity: 0;
    min-height: 200px;
}

a,
button,
.button {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;
}

a:active {
    background-color: transparent;
}

select,
map,
area,
a,
button {
    border: 0px;
    outline: none;
}

img {
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

input,
textarea,
select {
    border: 0;
    outline: none;
    line-height: normal;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea {
    resize: none;
}

.c {
    margin: auto;
}

.clear {
    clear: both;
}

.p-rea {
    position: relative;
}

.middle-wrap {
    white-space: nowrap;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.middle {
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
}

.middle-wrap-abs {
    white-space: nowrap;
}

.middle-wrap-table {
    display: table;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.middle-wrap-table .middle {
    display: table-cell;
}

.middle-wrap:after,
.middle-wrap-abs:after,
.thank:after,
.video-overlay:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
}

.image {
    position: relative;
    display: block;
}

.bsz,
.bsz .bgimage {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    background-size: cover;
}

.bsz .bgimage {
    opacity: 1;
    transition: opacity .8s;
}

.bsz.loading .bgimage {
    opacity: 0;
}

.bsz img {
    display: none;
    position: relative;
}

.full-row-link,
.bsz,
.bsz .bgimage,
.middle-wrap-abs,
.overlay,
.thank,
.full-dimension,
.dialog-box-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.full-dimension-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.thank {
    overflow: hidden;
    white-space: nowrap;
    background: #68b10c;
    white-space: nowrap;
    z-index: 10;
    display: none;
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: .05em;
}

.thank span {
    display: inline-block;
    width: 100%;
    white-space: normal;
    padding: 10px 15px;
    vertical-align: middle;
}

.common-wrapper {
    padding: 20px;
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loading:after,
.submitting:after,
.image-container:before,
.btn_loading::after,
.loading_wrap::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
    width: 25px;
    height: 25px;
    background-image: url(../images/load.png);
    background-position: 50% 50%;
    background-size: cover;
    -webkit-animation: rotateSpinner 2s linear infinite;
    animation: rotateSpinner 2s linear infinite;
    font-size: 0;
}

.validating:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -11px;
    height: 16px;
    width: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotateSpinner .75s linear infinite;
}

.viewport,
body.lock {
    overflow: hidden;
}

.viewport.lock {
    position: fixed;
    width: 100%;
    left: 0;
}

.divider {
    padding-top: 15px;
}

.divider:first-child {
    padding-top: 0;
}

.material-icons {}

input[type="text"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/** == placeholder ==**/

/** == placeholder ==**/

/* == Login == */

html,
body {
    background-color: #e5e9ec;
}

body,
input,
textarea,
select,
button {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto';
    font-size: 14px;
    color: #6f7b8a;
    font-weight: normal;
    font-style: normal;
}

.content {
    position: relative;
    transition: transform 0.3s;
}

.show-left-side .content-right {
    padding-left: 50px;
}

.is_logged_in {}

.login {
    padding: 150px 0;
}

.c {
    max-width: 990px;
    padding: 0 60px;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 400;
}

.col {
    display: inline-block;
    vertical-align: middle;
}

.col.right {
    text-align: right;
}

.col_2 {
    width: 50%;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

a {
    color: #0d638f;
}

a:hover {
    color: #23527c;
}

.button {
    position: relative;
    display: inline-block;
    padding: 11px 12px;
    background-color: #d1dade;
    color: #5e5e5e;
    text-align: center;
    border-radius: 3px;
    line-height: 1;
}

.form-group .button {
    margin-right: 10px;
}

.button-disabled {
    opacity: 0.4;
    pointer-events: none;
}

.full-row-link {
    z-index: 1;
}

.login-btn {
    margin-top: 10px;
}

.btn-info {
    color: #ffffff;
    background-color: #1f3853;
}

.btn-info:hover {
    color: #ffffff;
    background-color: #1b3148;
}

.btn-success {
    color: #ffffff;
    background-color: #0090d9;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #0082d4;
}

.btn-danger {
    color: #ffffff;
    background-color: #f35958;
    border: 1px solid #f35958;
}

.btn-danger:hover {
    background-color: #f14d4d;
}

.btn-plain {
    color: #5e5e5e;
    background-color: #ffffff;
    border: 1px solid #e5e9ec;
}

.btn-transparent {
    color: #5e5e5e;
    background-color: transparent;
    border: none;
}

.btn-hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.btn-plain:hover {
    background-color: #fbfcfd;
    border: 1px solid #b4b9be;
}

.btn-primary {
    color: #ffffff;
    background-color: #0aa699;
    border: 1px solid #0aa699;
}

.btn-primary:hover,
.btn-active {
    color: #ffffff;
    background-color: #099a8c;
}

.btn-danger {
    color: #ffffff;
    background-color: #bc0b0b;
    border: 1px solid #bc0b0b;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #ff0000;
}

.btn-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.btn-cons {
    min-width: 120px;
}

.logo {
    display: inline-block;
}

.login-page {
    background-color: #f1f1f1;
    color: #444;
    line-height: 1.4em;
    text-align: center;
    height: 100vh;
}

.login-page .c {
    max-width: 440px;
    padding: 40px 60px;
}

.img-logo {
    width: 150px;
    height: auto;
}

.login-form {
    text-align: left;
    margin-top: 20px;
}

.form-group {
    position: relative;
    margin-top: 20px;
}

.control-label {
    color: #55606e;
    font-size: 14px;
    margin-bottom: 10px;
}

.focus {}

.textbox {
    position: relative;
    background-color: #fff;
    color: #282323;
    padding: 11px;
    display: inline-block;
    width: 100%;
    line-height: 1;
    border: 1px solid #e5e9ec;
    transition: background-color .2s linear 0s, border-color .2s;
}

input.textbox {
    padding: 10px 11px;
}

textarea.textbox {
    height: 100px;
}

.select-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    padding: 10px 11px;
}

.textbox:focus {
    border-color: #f1f1f1;
    background-color: #f4f5f7;
}

.help-block {
    font-size: 12px;
    line-height: 1.67;
    color: #f35958;
}

.help-block+.help-block {
    display: none;
}

.has-error .from-control {
    border-color: #f35958;
}

.trouble {
    display: flex;
    justify-content: space-between;
}

.trouble>* {
    display: inline-block;
    vertical-align: middle;
}

.reminder {
    position: relative;
    width: auto;
    white-space: nowrap;
}

.checkbox-span {
    padding-left: 25px;
    cursor: pointer;
}

.checkbox-span:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #c2c6cb;
    border-radius: 3px;
    transition: background-color .4s, border .4s;
}

.checkbox-span:after {
    color: #ffffff;
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 11px;
}

.reminder input[type=checkbox]:checked+.checkbox-span:after {
    font-family: 'Material Icons';
    content: "\E5CA";
}

.reminder input[type=checkbox]:checked+.checkbox-span:before {
    background-color: #0090d9;
    border: 1px solid #0090d9;
}

.fetching {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.fetching+span {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    position: relative;
    margin: auto;
}

.spinner-blade {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    animation: spinner-fade 1s linear infinite;
    animation-play-state: running;
}

.spinner-blade:nth-child(1) {
    animation-delay: -1.66667s;
    transform: rotate(30deg) translate(0, -150%);
}

.spinner-blade:nth-child(2) {
    animation-delay: -1.58333s;
    transform: rotate(60deg) translate(0, -150%);
}

.spinner-blade:nth-child(3) {
    animation-delay: -1.5s;
    transform: rotate(90deg) translate(0, -150%);
}

.spinner-blade:nth-child(4) {
    animation-delay: -1.41667s;
    transform: rotate(120deg) translate(0, -150%);
}

.spinner-blade:nth-child(5) {
    animation-delay: -1.33333s;
    transform: rotate(150deg) translate(0, -150%);
}

.spinner-blade:nth-child(6) {
    animation-delay: -1.25s;
    transform: rotate(180deg) translate(0, -150%);
}

.spinner-blade:nth-child(7) {
    animation-delay: -1.16667s;
    transform: rotate(210deg) translate(0, -150%);
}

.spinner-blade:nth-child(8) {
    animation-delay: -1.08333s;
    transform: rotate(240deg) translate(0, -150%);
}

.spinner-blade:nth-child(9) {
    animation-delay: -1s;
    transform: rotate(270deg) translate(0, -150%);
}

.spinner-blade:nth-child(10) {
    animation-delay: -0.91667s;
    transform: rotate(300deg) translate(0, -150%);
}

.spinner-blade:nth-child(11) {
    animation-delay: -0.83333s;
    transform: rotate(330deg) translate(0, -150%);
}

.spinner-blade:nth-child(12) {
    animation-delay: -0.75s;
    transform: rotate(360deg) translate(0, -150%);
}

@keyframes spinner-fade {
    0% {
        opacity: 0.85;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.25;
    }
}

/* == Login == */

/** == Breadcrumbs ==*/

.content-right>.row {
    padding: 25px;
}

.bread-row {
    padding: 25px 25px 0 25px;
}

.content-right>.row>.col {
    width: 50%;
}

.bread-wrap .col {
    position: relative;
}

.home-bread {
    padding-right: 25px;
}

.home-bread:after {
    content: "\e5cc";
    font-size: 18px;
    color: #515050;
    font-family: 'Material Icons';
    position: absolute;
    top: -3px;
    right: 0;
}

.home-bread a {
    font-size: 12px;
    font-weight: 400;
    color: #7b7d82;
    display: block;
    text-transform: uppercase;
}

.current-bread {
    margin-left: 10px;
}

.current-bread .current-page {
    font-size: 14px;
    font-weight: 600;
    color: #515050;
}

/** == Breadcrumbs ==*/

/** == Sidebar Custom == */

.main-wrap {
    position: relative;
}

.side-bar-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: visibility 0.3s, opacity 0.3s;
}

.side-bar-wrap.right {
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #099a8c;
}

.side-bar-wrap .wrapper {
    position: relative;
    width: 250px;
    background-color: #1b1e24;
    transition: width 0.3s, background-color 0.3s;
}

.side-bar-wrap .logo-area .col.right {
    width: 45%;
}

.side-bar-wrap .logo-area .col.left {
    width: 55%;
}

.side-bar-wrap .logo-area.row .col {
    padding: 12px 14px;
}

.side-bar-wrap .logo-area {
    background-color: #22262e;
    white-space: nowrap;
}

.side-bar-wrap .logo-area .links a {
    height: 36px;
    width: 36px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #1B1E24;
    border: 1px solid transparent;
}

.side-bar-wrap .logo-area .links a.home-icon {
    background-color: #0d0f12;
}

.side-bar-wrap .logo-area .links a:hover {
    border: 1px solid rgba(122, 127, 140, .4);
}

.side-bar-wrap .logo-area .links i {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.help-msg {
    margin-top: 20px;
    text-align: center;
    color: #FF0000;
}

.help-msg.success {
    color: #008000;
}

.user-ar {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s, height 0.3s;
    overflow: hidden;
}

.user-ar .row {
    padding: 20px 26px;
}

.user-ar .col.left {
    width: 30%;
}

.user-ar .col.right {
    width: 70%;
}

.user-ar .avtar-wrapper {
    width: 42px;
    height: 42px;
    margin-right: 15px;
    position: relative;
}

.avtar-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
}

.user-ar .avtar-wrapper:after {
    content: '';
    position: absolute;
    right: -2px;
    bottom: -5px;
    border-radius: 100px;
    height: 12px;
    width: 12px;
    background-color: #0aa699;
    border: 2px solid #1b1e24;
}

.user-ar .avtar-wrapper img {
    border-radius: 100px;
}

.user-ar .user-name {
    color: #fff;
    font-size: 19px;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    text-align: left;
}

.user-ar .user-status {
    font-size: 13px;
    line-height: 1.5;
    color: #929fa5;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.relative {
    position: relative;
}

.nav-link.arrow>.link:after {
    content: "\E314";
    color: #8b91a0;
    font-size: 16px;
    font-family: 'Material Icons';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    transition: transform 0.2s;
}

.nav-link {
    position: relative;
}

.nav-link>.link {
    padding: 12px 30px;
    color: #8b91a0;
}

.nav-link:hover .nav-label,
.nav-link:hover i {
    color: #ffffff;
}

.nav-link .link {
    display: block;
    position: relative;
    white-space: nowrap;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link>* {
    display: inline-block;
    vertical-align: middle;
}

.nav-link .icon {
    font-size: 19px;
    margin-right: 8px;
    transition: color 0.3s;
    vertical-align: middle;
}

.nav-link .nav-label {
    font-size: 14px;
    line-height: 1.4;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s, color 0.3s;
}

.sub-nav {
    padding: 10px 0;
    background-color: #22262E;
    display: none;
}

.sub-nav .link {
    padding: 6px 0 6px 53px;
    color: #e1eaf1;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
}

.sub-nav .link:hover,
.sub-link.active {
    color: #ffffff;
    background-color: #1b1e24;
}

.show-sub-menu.nav-link.arrow>.link:after {
    transform: translateY(-50%) rotate(-90deg);
}

:global .nav-link>.active {
    color: #fff;
}

.nav-link>.link.active {
    color: #fff;
}

.show-left-side .nav-link>.link.active,
.show-left-side .nav-link>.link:hover,
.show-left-side .logout-area:hover {
    background-color: #0B9C8F;
}

.scrollable {
    height: calc(100vh - 101px);
    overflow-y: auto;
}

.logout-area {
    position: fixed;
    bottom: 0;
    padding: 11px 21px;
    width: 250px;
    text-align: right;
    background-color: #22262e;
    white-space: nowrap;
    transition: width 0.3s, background-color 0.3s;
}

.logout-area .logout-btn {
    font-size: 16px;
    color: #5e646d;
}

.logout-area .logout-btn i {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 5px;
}

.logout-area .logout-btn:hover {
    color: #8B91A0;
}

.wrap {
    height: 150vh;
}

/******** == 404 page ==***********/

.error-page {
    height: calc(100vh - 60px);
    text-align: center;
}

.error-number {
    font-size: 120px;
    line-height: 1.1;
    color: #22262e;
    font-weight: 600;
}

.error-message {
    color: #22262e;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
}

.error-page .middle {
    padding-left: 30px;
    padding-right: 30px;
}

/****** == Header ==*******/

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    z-index: 99;
    margin-left: 250px;
    transition: margin-left 0.3s, width 0.3s, transform 0.3s;
}

.header-wrap {
    padding: 16px 25px;
    background-color: #ffffff;
}

.show-left-side .header-wrap {
    padding-left: 16px;
}

.header-wrap a:hover,
.search-blog .close_icon:hover {
    color: #43464d;
}

.head-link {
    padding: 0 2px;
    line-height: 1.5;
    position: relative;
    color: #7a7f8c;
    font-size: 19px;
    z-index: 99;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s 0.5s, visibility 0.5s;
}

.head-search {
    position: relative;
}

.head-search input {
    padding: 6px 11px 6px 47px;
    width: 100%;
    line-height: 1.1;
    color: #282323;
    transition: all .4s;
    min-height: 36px;
    ;
}

.search-ico {
    position: relative;
    padding: 10px 15px;
}

.head-search input:focus {
    border-color: #f1f1f1;
    background-color: #f4f5f7;
}

.show-left-side .side-bar-wrap .wrapper {
    background-color: #0AA699;
    height: 100%;
    width: 50px;
}

.show-left-side .nav-link-wrap {
    padding-top: 20px;
}

.show-left-side .nav-link>.link {
    color: #fff;
    padding: 16px 13px;
    text-align: center;
    display: block;
}

.show-left-side .nav-link .nav-label {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.show-left-side .side-bar-wrap .logo-area,
.show-left-side .side-bar-wrap .user-ar {
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
    transition: visibility 0.3s, opacity 0.3s;
}

.show-left-side .side-bar-wrap .logo-area,
.show-left-side .side-bar-wrap .user-ar {
    visibility: hidden;
    opacity: 0;
}

.show-left-side .logout-area {
    width: 50px;
    background-color: #0AA699;
    text-align: center;
    padding: 11px 0;
}

.show-left-side .logout-area .logout-btn i {
    margin-left: 0;
    color: #fff;
    font-size: 19px;
}

.show-left-side .logout-area span {
    display: none;
}

.show-left-side .side-bar-wrap .user-ar {
    height: 0;
}

.show-left-side .side-bar-wrap .scrollable {
    overflow: visible;
}

.show-left-side .top-header {
    width: 100%;
    margin-left: 0;
}

.show-left-side .nav-link.arrow>.link:after {
    display: none;
}

.show-left-side .sub-nav {
    position: absolute;
    top: 5px;
    min-width: 250px;
    width: 100%;
    margin-left: 50px;
    transform: rotateX(90deg);
    display: block;
    transition: transform 0.2s;
}

.show-left-side .show-sub-menu .sub-nav {
    transform: rotateX(0deg);
}

.show-right-side .content {
    margin-left: 0;
    margin-right: 250px;
}

.show-right-side .side-bar-wrap {}

.content-right {
    padding-top: 60px;
    padding-left: 250px;
    min-height: 100vh;
    transition: padding-left 0.3s, transform 0.3s;
}

.content-right-wrapper {
    margin-top: 26px;
}

.heading {
    font-size: 30px;
    font-weight: 300;
}

.search {
    position: relative;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
}

.search .form-group {
    margin-top: 0;
}

.search-dialog-box .search-wrap-result {
    padding-top: 15px;
}

.search .control-label {
    display: none;
}

.search .form-control {
    margin-top: 0;
}

.search-pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transition: visibility 0.4s, opacity 0.4s;
    z-index: 9999;
}

.search-pop.show-search-pop {
    visibility: visible;
    opacity: 1;
}

.search-pop.close-search-pop {
    opacity: 0;
    visibility: hidden;
}

.search-blog-wrap {
    position: relative;
    padding: 80px 30px;
    min-height: 100%;
    max-width: 1210px;
    margin: auto;
}

.search-blog-wrap .help-block {
    display: none;
}

.search-blog .close_icon {
    position: absolute;
    display: inline-block;
    font-size: 30px;
    top: 0;
    right: 30px;
    padding: 20px;
    z-index: 9999;
    color: #7a7f8c
}

.search-dialog-box .form-group {
    margin-top: 0;
}

.search-blog .search-field-area {
    width: calc(100% - 180px);
    padding-right: 30px;
    display: inline-block;
    vertical-align: middle;
}

.search-blog .search-field-area input {
    background-color: transparent;
    border-color: transparent transparent #282828;
    font-size: 28px;
    padding: 0 30px 5px 0;
}

.search-blog .search-field-area input:focus {
    background-color: transparent;
}

.search-button-area {
    display: inline-block;
    vertical-align: bottom;
}

.search-button-area button,
.search-button-area>.button {
    background-color: transparent;
    border: 1px solid #0aa699;
    padding: 12px 50px;
    font-size: 18px;
    border-radius: 0;
    letter-spacing: 0.0162em;
}

.search-button-area button:hover {
    background-color: #0aa699;
    color: #fff;
}

.search-wrap-result {
    padding-top: 15px;
}

.searched-type {
    font-weight: bold;
}

.disabled {
    color: #C2C6CB;
    opacity: 0.65;
    pointer-events: none;
}

.toggle {}

/**** ====== Menu Area ======= ****/
.header-menu-sec .table-form {
    padding: 15px;
}

.header-menu-wrap .row {
    margin: 0 -10px;
}

.repeatable-ar {
    border: #E1E1E1 solid 1px;
}

.header-menu-wrap .row>.col.form-group {
    width: 50%;
    padding: 0 10px;
    margin: 0;
}

.sub-menu-wrap a {
    color: #55606e
}

.sub-menu-wrap .checkbox {
    position: relative;
    display: inline-block;
    color: #55606e;
    border: 2px solid #55606e;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.sub-menu-checked .check-icon {
    display: inline-block;
}

.sub-menu-Ar:first-child {
    margin-top: 20px;
}

.sub-menu-Ar {
    border: #E1E1E1 solid 1px;
}

.menu-count {
    padding: 10px;
    border-bottom: #E1E1E1 solid 1px;
}

.menu-count .name-widget {
    margin-left: 0;
}

.menu-field-ar {
    display: block;
    padding: 20px 10px;
}

.sub-menu-Ar .menu-count {
    background-color: #E5E9EC;
}

/**** ====== open menu *** =====*/

.head-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    max-width: 106px;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 99;
    margin: 0 10px;
}

.open-left-side .content {
    transform: translateX(260px);
    position: fixed;
    width: 100%;
    top: 0;
}

.open-left-side .side-bar-wrap {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0s;
}

/* Date time picker */

:global .react-datepicker-popper {
    width: 330px;
    z-index: 999999 !important;
}

:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    font-size: 12px;
}

:global .react-datepicker__time-container,
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 80px;
}

:global .react-datepicker-wrapper,
:global .react-datepicker__input-container {
    display: block !important;
}

:global .react-datepicker__input-container input {
    width: 100%;
    border: 0;
    color: #282323;
}

:global .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    padding: 5px;
    margin-top: 2px;
    height: auto;
}

/* Right Click Menu Css */

:global .react-contextmenu {
    background: white;
    box-shadow: 0px 2px 10px #999;
    z-index: 10;
}

:global .react-contextmenu-item {
    padding: 15px 50px 15px 20px;
    min-width: 160px;
    cursor: pointer;
    font-size: 12px;
}

:global .react-contextmenu-item:hover {
    background: #0aa699;
    color: white;
}

:global .react-contextmenu-item:active {
    color: #e9e9e9;
    background: #0aa699;
}

:global .react-contextmenu-item--disabled {
    color: #999;
    pointer-events: none;
}

:global .react-contextmenu-item--divider {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 0;
    padding: 0;
}

/* Right Click Menu Css */

/* Toast */

:global .Toastify__toast--default,
:global .Toastify__toast--success {
    background: #1b1e24 !important;
    color: #fff !important;
    font-size: 16px !important;
    padding: 15px !important;
    min-height: 0px !important;
}

:global .Toastify__toast-container--top-right {
    top: 7em !important;
    right: 2em !important;
}

:global .Toastify__close-button--default {
    color: #fff !important;
    opacity: 1 !important;
}

:global .Toastify__progress-bar--default,
:global .Toastify__progress-bar {
    background: #0aa699 !important;
}

/*** == Image Upload ==***/

.upload-progress {
    width: 140px;
    height: 140px;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    margin-top: 15px;
    z-index: 9;
}

.uploaded-file-remove {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 22px;
}

.uploaded-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.file-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.file-upload span {
    display: inline-block;
    vertical-align: middle;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}

.file-upload .button {
    text-transform: uppercase;
    max-height: 37px;
}

.user-upload-help {
    background-color: #f1f7f5;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #0aa699;
    color: #444;
}

.user-upload-help span {
    color: #000;
    font-weight: 700;
}

.picture {
    position: relative;
    width: 140px;
    height: 140px;
    margin-top: 15px;
    background-color: #f6f7f8;
}

.upload-progress .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-image {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
    transform: translate(-50%, -50%);
}

/*** == Image Upload ==***/

/*** == Media ==***/

.media-list {
    margin: 25px 0;
}

.media-list.media-grid {
    margin-left: -8px;
    margin-right: -8px;
}

.media {
    position: relative;
    width: 10%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .15);
}

.media .spinner,
.media-height .spinner,
.right-content .button .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media-sizer {
    padding-top: 100%;
}

.search-page-ar>.row {
    padding-bottom: 15px;
}

.search-media {
    position: relative;
    margin-top: 15px;
}

.search-media .button {
    border-radius: 0;
    margin-top: 10px;
}

.media-row>* {
    display: inline-block;
    vertical-align: middle;
}

.media-detail {
    position: relative;
    width: 10%;
    text-align: center;
    text-transform: capitalize;
}

.media-row-head .media-detail:after {
    content: none;
}

.media-row-head>* {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-input {}

.media-row {
    padding: 18px;
    position: relative;
}

.media-row.media-opacity .media-block {
    opacity: 0.5;
    pointer-events: none;
}

.media-restore {
    display: none;
}

.media-row.media-opacity .media-restore {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 18px;
    line-height: 1;
    display: block;
}

.media-row:nth-of-type(even) {
    background-color: #fff;
}

.media-list.media-grid .media-row {
    background-color: transparent;
}

.media-name.media-detail {
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #47a497;
    letter-spacing: 2px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    padding: 0 30px;
}

.media-name.media-detail .media-cap {
    text-transform: none;
}

.media-block {
    display: block;
    cursor: pointer;
}

.media-block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 166, 153, 0.1);
    transform: scale(0);
    transition: transform .4s;
}

.media-block:hover:after {
    transform: scale(1);
}

.media-row input[type="checkbox"],
.search-media input[type="checkbox"] {
    display: none;
}

.media-row .form-group label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media-row .checkbox-square {
    margin-right: 0;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    z-index: 1;
    display: none;
}

.media-row .checkbox-square svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media-row .checkbox-square i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}

.media-row input[type="checkbox"]:checked+.media-block {
    border: 5px solid #0aa699;
}

.media-row input[type="checkbox"]:checked+label .checkbox-square {
    background-color: #0aa699;
    display: block;
}

.media-row input[type="checkbox"]:checked+label .checkbox-square i {
    color: #fff;
}

.media-grid .media-row {
    display: inline-block;
    width: 10%;
    padding: 16px 8px 0 8px;
}

.media-grid .media {
    width: 100%;
    background-color: #fff;
}

.media-grid .media-detail {
    display: none;
}

.search-media .search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.search-media>form {
    display: inline-block;
}

.search-media>form>.form-group {
    display: inline-block;
    margin-top: 10px;
    /* min-width: 200px; */
    margin-left: 20px;
}

.search-media>form>.form-group .control-label {
    display: none;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
}

.button-bulkselect {
    margin-left: 15px;
}

.search-media .button-bulkdelete {
    margin-right: 20px;
}

.search-media form {
    width: calc(100% - 80px);
    display: inline-flex;
}

.search-media form>* {
    flex: 1;
}

.search-media .button-bulkdelete i,
.file-upload .button svg {
    margin-right: 10px;
}

.search-media.search-media-button .button-bulkdelete-first {
    margin-left: 20px;
}

.search-media.search-media-button .button-bulkdelete>* {
    display: inline-block;
    vertical-align: middle;
}

.media-seach-in {
    position: relative;
}

.media-seach-in .textbox {
    padding-right: 24px;
}

.media-seach-in>.form-group {
    margin: 0;
}

.search-clear-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.media-info-btn {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 34px;
    color: #0aa699;
    background-color: #fff;
    border-radius: 50px;
}

.media-info-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    transform: scaleX(-1);
    display: none
}

.page-media-pop .show-details .right-media {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

/*** == Media ==***/

/*** == Gallery ==***/

.gallery-row {
    margin: 25px -8px 0 -8px;
}

.gallery-item {
    width: 16.66%;
    padding: 16px 8px 0 8px;
    cursor: pointer;
}

.gallery-item-image {
    display: block;
    background-color: #e9e9e9;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
}

.gallery-item-image .media-sizer {
    position: relative;
    display: block;
}

.gallery-item-image .media-sizer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 166, 153, 0.1);
    transform: scale(0);
    transition: transform .4s;
}

.gallery-item-icons>.svg-inline--fa {
    margin: 15px 10px;
}

.gallery-item-image:hover .media-sizer:after {
    transform: scale(1);
}

.gallery-new {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.gallery-new:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 3px;
    background-color: #fff;
}

.gallery-new:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 30%;
    background-color: #fff;
}

.gallery-label {
    color: #6f7b8a;
    padding-top: 10px;
    border-bottom: 1px solid transparent;
}

.gallery-item .form-group {
    margin-top: 0;
}

.gallery-item .form-group .textbox {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 0 0 0;
}

.gallery-item .form-group .textbox:focus {
    border-bottom-color: rgba(0, 0, 0, .15);
}

.gallery-item-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    padding: 10px;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent 56px, transparent);
    opacity: 0;
    transition: opacity .4s;
}

.gallery-item-image:hover .gallery-item-label {
    opacity: 1;
}

.gallery-item input[type="checkbox"] {
    display: none
}

.gallery-item-checked {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    background-color: #0aa699;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.gallery-item-checked i,
.flex-images-item-rea .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item input[type="checkbox"]:checked+.gallery-item-image {
    border: 5px solid #0aa699;
}

.gallery-item input[type="checkbox"]:checked+.gallery-item-image .gallery-item-checked {
    opacity: 1;
    visibility: visible;
}

.gallery-action-ar>span {
    padding-right: 15px;
}

.relative-ar {
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery-item .media-sizer .spinner,
.gallery-item-checked .svg-inline--fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    margin-top: 30px;
    font-size: 18px;
}

.galler-share-ar .table-head h4 {
    font-size: 20px;
}

.galler-share-ar .table-head {
    padding-bottom: 15px;
}

.sep-Form {
    margin-top: 20px;
}

.sep-Form .form-title {
    margin-top: 20px;
}

.single-gallery-ar .media-head .media-title {
    max-width: calc(100% - 140px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*** == Gallery ==***/

/*** == Responsive ==***/

/***==== Tile ===****/

.outer {
    margin: 0 -5px;
}

.tile-ar {
    display: inline-block;
    width: 33.33%;
    padding: 0 5px;
}

.tile-wrap {
    background-color: #0aa699;
}

.tile-title {
    font-size: 11px;
    letter-spacing: 0.7px;
    font-weight: 500;
    color: #1b1e24;
}

.tile-icon {
    margin-left: 5px;
}

.tile-icon i {
    font-size: 12px;
    color: rgba(67, 70, 77, 0.8);
    font-weight: 600;
}

.tile-icon:hover i {
    color: rgba(67, 70, 77, 0.5);
}

.tile-action-ar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
}

.tile-middle .col {
    padding-right: 7px;
    margin-right: 7px;
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    line-height: 1.5;
}

.tile-middle {
    margin: 5px 0;
}

.tile-middle .col:last-child {
    border: none;
}

.count-type {
    font-size: 13px;
    letter-spacing: 0.01em;
}

.count-number {
    font-size: 15px;
    font-weight: 500;
}

.progress-bar {
    position: relative;
    height: 2px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.28);
    margin: 20px 0 13px;
}

.status-progress {
    position: absolute;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.highlighted {
    color: #fff;
}

.Normal {
    color: rgba(0, 0, 0, 0.42)
}

/***==== Activity ===****/

.activities {
    background-color: #ffffff;
}

.activity {
    padding: 20px;
    color: #6f7b8a;
    border-top: 1px solid #e6e6e6;
    word-break: break-word;
}

.activity:nth-of-type(even) {
    background-color: #ecf0f2;
}

.activity-title {}

.activity-created {
    margin-top: 15px;
}

.activity-created>* {
    display: inline-block;
    vertical-align: middle;
}

.activity-created i {
    font-size: 15px;
}

.activity-changes {
    background-color: #fff;
    border: 1px solid #6f7b8a;
    margin-top: 15px;
    display: table;
    width: 100%;
}

.activity-row {
    display: table-row;
}

.activity-row>div {
    padding: 8px 15px;
    font-size: 14px;
    border: 1px solid #8b91a0;
    display: table-cell;
    word-break: break-word;
    border-bottom: 0;
    border-right: 0;
    min-width: 100px;
}

.activity-row:first-child>div {
    border-top: 0;
    color: #1b1e24;
    font-weight: bold
}

.activity-row>div:first-child {
    border-left: 0;
}

.search-filter-btn {
    margin-bottom: 20px;
}

.search-filter-btn span {
    padding-right: 5px;
}

/***==== Activity ===****/

.search-filter-form {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.search-filter-top {
    margin-top: 20px;
}

.search-filter .form-group {
    margin-top: 0;
}

/***==== DropDown ===****/

.multiple-dropdown {
    z-index: 5;
}

.search-filter {
    margin: 0 -20px;
}

.search-filter .col_2 {
    padding: 0 20px;
}

.field {
    position: relative;
}

.horizontal-flex {
    flex: 1;
    flex-direction: row;
    display: flex;
    transition: opacity .4s;
}

.input-checkbox .horizontal-flex {
    align-items: center;
}

.checkbox-square {
    border: 1px solid #eee;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 10px;
    background: #f9f9f9;
    position: relative;
}

.checkbox-center {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
}

.input-checkbox input:checked+label .checkbox-center {
    opacity: 1;
}

.ddoptions-open {
    z-index: 11;
}

.ddoptions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #eee;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    padding: 6px 0;
    display: none;
}

.ddoptions-list {
    max-height: 216px;
    overflow: auto;
    overflow-x: hidden;
}

.ddoptions-open .ddoptions,
.selected-option {
    display: block;
}

.ddoption {
    padding: 6px 12px;
    border-top: 1px solid #eee;
    position: relative;
}

.ddoption input {
    display: none;
}

.selected-option {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ddoption-label {
    padding-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    transition: color 0.4s;
}

.ddoption input:checked+.ddoption-label i::before {
    content: "\F00C";
}

.ddoption:hover,
.ddoption input:checked+.ddoption-label {
    color: #0aa699;
}

/***==== DropDown ===****/

/***==== Tile ===****/

/***==== Recent posts ====****/

.recent-post-wrap {
    display: inline-block;
    width: 33.33%;
    padding: 0 5px;
}

.recent-post,
.recent-page,
.recent-page-block {
    background-color: #fff;
}

.recent-action-ar {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.recent-img .sizer {
    padding-top: 61%;
}

.recent-img .bgimage {
    transition: all 0.4s;
}

.recent-img:hover .bgimage {
    filter: brightness(110%);
    transform: scale(1.1);
}

.recent-post-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.recent-page-list {
    width: calc(100% - 50px);
    white-space: nowrap;
}

.recent-content {
    max-height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-image-ar {}

.file-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    font-weight: 600;
    word-break: break-all;
    padding: 5px 8px;
}

.recent-page-link {
    font-size: 16px;
    display: block;
    padding: 10px 0;
    color: #1b1e24;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-page-link:hover {
    color: rgba(27, 30, 36, 0.5);
}

.media-head {
    margin-top: 15px;
    position: relative;
}

.media-title {
    font-size: 26px;
    color: #505458;
    padding-right: 20px;
}

.media-head>* {
    display: inline-block;
    vertical-align: middle;
}

.media-head .button {
    margin-left: 15px;
    padding: 7px 12px;
}

.media-head i {
    transform: rotate(-90deg);
    font-size: 35px;
    margin-right: 10px;
}

.addnew {
    position: relative;
    border: 4px dashed #b4b9be;
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    display: none;
}

.btn-fa-icon {
    height: 38px;
}

.media-or {
    margin: 10px 0;
}

.addnew .close-upload-ar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding: 5px;
    color: #000;
}

.incoming:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 166, 153, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
}

.incoming:after {
    content: "Drop your files to instantly upload them";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 999;
    font-weight: 700;
    border: 5px solid #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pinned-item .del-item {
    display: none;
}

.pinned-item .pin-item i {
    color: black;
    font-size: 16px;
}

/***==== Recent posts ====****/

/***==== Analytics ====****/

.graph-ar-Wrap {
    background-color: #E9ECEE;
}

.graph-area {
    background-color: #E9ECEE;
}

.graph-text-ar {
    background-color: #fff;
}

.graph-text-ar>.row {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e9ec;
}

.graph-text-ar>.row .col {
    width: 25%;
}

.graph-text-ar>.row .col:first-child {
    width: 33%;
}

.graph-text-ar>.row .col:last-child {
    width: 42%;
    margin: 10px 0;
}

.graph-text-ar>.row input {
    min-height: 37px;
    background-color: #e5e9ec;
    padding: 6px 11px;
    transition: all 0.4s;
    width: 100%;
}

.graph-text-ar>.row input:focus {
    border-color: #f1f1f1;
    background-color: #f4f5f7;
}

.med-text {
    font-size: 18px;
    line-height: 1.2;
    color: #1b1e24;
    margin: 10px 0;
}

.med-text+div {
    font-size: 24px;
    line-height: 1.2;
    color: #0aa699;
}

.small-text {
    font-size: 14px;
    line-height: 1.1;
    margin: 10px 0;
    color: #1b1e24;
}

.small-text+div {
    color: #0aa699;
    font-size: 18px;
    line-height: 1.2;
}

.second-row {
    padding-top: 10px;
}

.color-text {
    color: #0aa699;
}

.second-row .col>div:first-child {
    padding-bottom: 5px;
}

.second-row>.col {
    width: 33.33%;
}

.inner-row {
    position: relative;
}

.inner-row div:last-child {
    position: absolute;
    top: 0;
    right: 0;
}

/***==== Analytics ====****/

/***==== Map ====****/

.map-ar {
    height: 390px;
}

.with-map {
    margin: 0 -5px;
}

.with-map>.col {
    width: 50%;
    padding: 0 5px;
}

.map-descrip {
    font-size: 13px;
    margin-top: 10px;
    color: #bbb;
}

.map-title {
    font-size: 16px;
    color: #444;
}

/***==== Map ====****/

/***==== Search Page ====****/

.search-dialogue-ar .dialog-close {
    display: inline-block;
    padding: 15px 20px;
}

.search-filter-wrap {
    margin: 20px 0;
}

.search-row {
    position: relative;
    padding: 15px 35px 15px 0;
    border-bottom: 1px solid rgba(122, 127, 140, 0.4);
}

.search-row a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searched-type {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.search-filter-wrap a {
    font-size: 18px;
    margin-right: 20px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.search-filter-wrap a.current-filter,
.search-filter-wrap a:hover {
    border-color: #0d638f;
}

.search-row * {
    font-size: 16px;
    font-weight: 500;
    color: #1b1e24;
}

.count-ar {
    font-size: 16px;
    font-weight: 400;
}

/***==== Search Page ====****/

/************ New search ********/
.options {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    text-align: right;
    height: 60px;
}

.show-left-side .options {
    left: 0;
}

.search-wrap {
    position: absolute;
    width: 100%;
    padding: 0px 10%;
    left: 0;
    top: 50%;
    transform: translate(50px, -50%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
}

.search-wrap>form>.form-group {
    margin-top: 0;
}

.search-wrap form {
    position: relative;
}

.search-wrap .textbox {
    border: 0;
    padding: 15px 0;
    font-size: 16px;
    background-color: transparent;
}

.option-link {
    display: inline-flex;
    visibility: visible;
    opacity: 1;
    align-items: center;
    padding: 15px 25px;
    height: 100%;
    color: #7a7f8c;
    font-size: 16px;
    transition: opacity 0.5s 0.5s, visibility 0.5s;
}

.option-link span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding-left: 10px;
}

.verti-center {
    position: absolute;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.search-open .search-wrap {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, -50%);
}

.search-wrap .left,
.search-wrap .right {
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.search-wrap .left {
    right: 100%;
    margin-right: 15px;
}

.search-wrap .right {
    left: 100%;
    margin-left: 5px;
    padding: 15px;
}

.search-open .option-link,
.search-open .head-link {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

/************ New search ********/
/***==== Dialog ====****/

.dialog-box-overlay {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    padding: 15px;
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

.dialog-open {
    opacity: 1;
}

.dialog-remove {
    opacity: 0;
    transition: opacity 0.6s 0.6s ease-out;
}

.dialog-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    transform: translateY(-125%);
    transition: transform 0.6s;
}

.dialog-open .dialog-box {
    transform: translateY(0);
    transition-delay: 0.3s;
}

.dialog-remove .dialog-box {
    transform: translateY(-125%);
}

.dialog-position {
    width: 100%;
    background: #fff;
    position: relative;
    padding-top: 50px;
    height: calc(100vh - 30px);
}

.dialog-header {
    background: #e5e9ec;
    color: #515050;
    text-align: left;
    position: relative;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.dialog-title {
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}

.dialog-close .icons {
    padding: 15px 20px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.dialog-close:hover {
    color: #000;
}

.dialog-content-title {
    font-size: 1em;
    margin-top: 30px;
    color: #222;
    line-height: 1;
}

.dialog-content {
    position: relative;
    height: 100%;
}

.dialog-gallery {
    height: 100%;
    text-align: center;
    transform: translateY(-125%);
    transition: transform 0.6s;
}

.dialog-open .dialog-gallery {
    transform: translateY(0);
    transition-delay: 0.3s;
}

.dialog-remove .dialog-gallery {
    transform: translateY(-125%);
}

.dialog-gallery .media-height:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.gallery-icons {
    position: absolute;
    color: #fff;
    font-size: 42px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow-close {
    position: absolute;
    color: #fff;
    font-size: 36px;
    line-height: 0.5;
    top: 0;
    right: 0;
    padding: 10px;
}

.left-media {
    width: 65%;
    padding: 16px;
}

.right-media {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    overflow: auto;
    padding: 12px 16px;
    background-color: #e5e9ec;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.media-height {
    white-space: nowrap;
    height: 100%;
}

.media-height .bsz .bgimage {
    background-size: contain;
}

.vMiddle {
    background-color: rgba(229, 233, 236, 0.1);
}

.vMiddle:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
}

.media-image {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    width: auto;
    opacity: 0;
    transition: opacity .4s;
}

.media-image-div {
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.media-image-div:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.media-image-name {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    color: #fff;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

.media-image-list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.loader-item-single {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content,
.right-footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.head-text {
    font-size: 12px;
    margin-top: 5px;
}

.right-content>form .form-group:first-child {
    margin-top: 0;
}

.right-footer .head-text {
    color: #bc0b0b;
}

.filter-popup .dialog-close {
    padding: 15px;
}

.filter-popup form {
    padding: 5px 20px 20px;
}

.filter-popup .button {
    margin-top: 20px;
    min-width: 100px;
}

.popup-close {}

.select-all {}

.media-list .rectangle::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}

.media-list.media-grid .rectangle::before,
.media-list .media-row:nth-child(even) .rectangle::before {
    background: linear-gradient(to right, rgba(236, 240, 242, 0) 46%, rgba(236, 240, 242, 0.35) 50%, rgba(236, 240, 242, 0) 54%) 50% 50%;
}

.media-list .media-row .bg {
    background-color: #e5e9ec;
}

.media-list.media-grid .bg,
.media-list .media-row:nth-child(even) .bg {
    background-color: #fff;
}

.textbox-copied {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.copied {
    margin-left: 10px;
    background-color: #22262e;
    padding: 3px 15px;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.copied.show {
    opacity: 1;
    visibility: visible;
}

.media-thousand,
.media-four-twenty,
.media-four-twenty.rectangle,
.media-thousand.rectangle {
    display: none;
}

.media-grid .flex-images .media-row {
    width: 196px;
    height: 196px;
}

.flex-images-item,
.drag-handle-img,
.image-dragging,
.drag-placeholder,
.left-side,
.move,
.moved {}

.right_side_drag .flex-images-item-rea {
    margin-right: 10%;
}

.left_side_drag .flex-images-item-rea {
    margin-left: 10%;
}

.drag-box,
.right_side_drag .image-name,
.left_side_drag .image-name {
    display: none;
}

.drag-box-text {}

.drag-box>* {
    display: inline-block;
    vertical-align: middle;
}

.drag-box span {
    margin-right: 5px;
}

.flex-images .item {
    position: relative;
    width: 250px;
    height: 180px;
    padding: 16px 8px 0 8px;
    box-sizing: content-box;
}

.flex-images .item.hidden-visibility {
    opacity: 0.4;
}

.flex-images .item img {
    width: 100%;
    height: 100%;
}

.flex-image-anchor {
    position: relative;
    display: block;
    height: 100%;
    background: #fff;
}

.flex-images-item-rea,
.flex-image {
    position: relative;
    height: 100%;
}

.flex-images-item-rea input[type="checkbox"] {
    display: none;
}

.flex-images-item-rea input[type="checkbox"] {
    display: none;
}

.image-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px 40px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent 100%);
    color: #fff;
    font-size: 13px;
    user-select: none;
}

.loaderItem {
    width: 180px;
    height: 180px;
}

.loader-flex {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
}

.flex-image-anchor:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 166, 153, 0.1);
    transform: scale(0);
    transition: transform .4s;
}

.flex-images-item-rea:hover .flex-image-anchor:after {
    transform: scale(1);
}

.flex-images-item-rea input[type="checkbox"]:checked+.flex-image {
    border: 5px solid #0aa699;
}

.gallery-image-upload-btn>* {
    display: inline-block;
    vertical-align: middle;
}

.gallery-image-upload-btn.button {
    margin-left: 0;
}

.gallery-image-upload-btn span {
    padding-left: 10px;
}

.gallery-item-icons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity .4s;
}

.flex-images-item-rea .gallery-item-icons a {
    color: #fff;
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}

.edit-img {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    opacity: 0;
}

.flex-images-item-rea:hover .gallery-item-label,
.flex-images-item-rea:hover .gallery-item-icons,
.flex-images-item-rea:hover .edit-img {
    opacity: 1;
}

.flex-images-item-rea .gallery-item-icons a:hover,
.edit-img:hover {
    color: #0aa699;
}

.flex-images-item-rea input[type="checkbox"]:checked+.flex-image+.gallery-item-checked,
.image-selected .gallery-item-checked {
    opacity: 1;
    visibility: visible;
}

.drag-placeholder {
    position: absolute;
    left: 92%;
    bottom: 0;
    height: calc(100% - 16px);
    width: 15%;
    background: rgba(66, 133, 244, 1);
    z-index: 10;
}

.drag-placeholder.left-side {
    left: auto;
    right: 92%;
}

.drag-box {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #4285f4;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #000;
    min-width: 125px;
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.checked {}

/***==== Dialog ====****/



/* == TABLE GRID == */
.table-row-main {
    background-color: #fff;
}

.section-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.title-section {
    position: relative;
    margin-bottom: 20px;
}

.list-counts {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.list-counts span {
    margin-left: 10px;
}

.grid-table {
    border: 1px solid #dddddd;
}

.table-row {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    transition: background-color 0.4s;
    display: block;
    display: flex;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-row,
.flex-row>.table-data {
    flex: 1;
}

.column2 .table-data {
    width: 50%;
}

.column3 .table-data {
    width: 33.33%;
}

.column4 .table-data {
    width: 25%;
}

.table-data {
    display: inline-block;
    vertical-align: middle;
    padding: 11px 12px;
    transition: opacity 0.4s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-head .table-data {
    font-weight: 700;
    color: #6f7b8a;
}

.table-data .button {
    width: 100%;
}

.deleted-row .table-data {
    opacity: 0.2;
}

.deleted-row .table-data-actions {
    opacity: 1;
}

.table-row:not(.deleted-row):hover {
    background-color: #fdf9e7;
}

.deleted-row .full-row-link {
    pointer-events: none;
}

.table-head-main {
    position: relative;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.action_link:hover {
    color: #F16053;
}

.action-link {
    display: inline-block;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.action-link .material-icons {
    font-size: 19px;
}

.search-form {
    width: 230px;
    position: fixed;
    top: 60px;
    padding: 0 20px 30px;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.4s;
}

.table-form {
    padding: 15px 40px 40px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.table-body {
    position: relative;
}

.table-data-sctions,
.table-data-actions {
    width: 130px;
}

.table-data-actions {
    padding: 0 5px;
    text-align: right;
}

.grid-search {
    background-color: #fff;
}

.grid-search .form-group {
    margin: 0 0 0 auto;
}

.grid-search .form-group .textbox {
    border-top: none;
    border-bottom: none;
}

.sort-order {
    margin-left: 5px;
}

/* == TABLE GRID == */

/*============================================== Pages =====================================================*/

.part-title {
    padding: 15px;
    border-bottom: 1px solid #0000003d;
    margin: 0 -15px;
    cursor: pointer;
    position: relative;
}

.nav-arrow {
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
}

.show .nav-arrow {
    transform: translateY(-85%) rotate(180deg);
}

.form-sub-title {
    padding: 15px 0;
    font-weight: 600;
}

.widget-action {
    padding-right: 20px;
}

.widget-action .nav-arrow {
    right: 0;
}

.add-section{}

/*============================================== Pages =====================================================*/

/*============================================== Widgets =====================================================*/
.page-create-ar .table-form {
    padding: 0 15px;
}

.page-create-ar .form-ar {
    padding-bottom: 20px;
}

.widget-popup-ar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.wideget-poped .widget-popup-ar {
    opacity: 1;
}

.widget-popup-wrap {
    height: 100%;
}

.widget-head {
    background-color: #1b1e24;
    position: relative;
}

.widget-head a {
    display: inline-block;
    padding: 20px;
    color: #fff;
}

.widget-grid-row {
    padding: 0 20px;
    transform: translateY(20%);
    overflow-y: auto;
    height: calc(100% - 60px);
    transition: transform 0.3s;
}

.wideget-poped .widget-grid-row {
    transform: translateY(0%);
}

.widget-grid-item {
    width: 25%;
    text-align: center;
    padding: 10px;
}

.first-section,
.second-section,
.third-section {
    display: block;
}

.thumb-sizer {
    padding-top: 55%;
}

.widget-label {
    transition: color 0.4s;
    padding: 10px;
    background: #eee;
    color: #666;
    font-size: 18px;
}

.widgethumb {
    margin: 10px 0;
}

.grid-item-wrap {
    border: 2px solid #ccc;
    transition: border 0.4s;
}

.widget-grid-item:hover .grid-item-wrap {
    border-color: #000;
}

.widget-name {
    position: relative;
    color: #43464d;
    font-weight: 600;
    padding: 8px;
    border: #E1E1E1 solid 1px;
}

.widget-field-ar {
    border: #E1E1E1 solid 1px;
    padding: 20px 0;
}

.order-number {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    text-align: center;
    border-radius: 50%;
    font-weight: normal;
    transform: translateY(-50%);
}

.order-number span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group+.control-label {
    margin-top: 15px;
}

.widget-add-btn {
    text-align: right;
    margin-top: 20px;
}

.widget-field-ar>.form-group:first-child,
.repeat-widget-section>.form-group:first-child {
    padding-top: 0;
    margin-top: 0;
    border-color: transparent;
}

.widget-field-ar .media-row {
    padding-left: 0;
}

.widget-action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}

.widget-action .col {
    color: #43464d;
    padding-left: 10px;
}

.widget-field-ar>.form-group,
.repeat-widget-section>.form-group,
.repeatable-widget>div>.form-group {
    border-top: #E1E1E1 solid 1px;
    padding: 20px 8px 0;
}

.widget-section {
    margin-top: 25px;
    background-color: #fff;
}

.widget-section:first-child {
    margin-top: 0;
}

.repeat-widget-section {
    position: relative;
    padding: 15px 0;
    margin: 15px 8px 0;
    border: 1px solid #E1E1E1;
    background-color: #fff;
}

.repeat-widget-section:first-child {
    margin-top: 0;
}

.repeat-add {
    margin: 15px 0 0 16px;
}

.repeat-action {
    position: absolute;
    top: 6px;
    right: 6px;
    display: inline-block;
    padding: 10px;
}

.widget-close span {
    padding-left: 5px;
}

.widget-close:hover {
    background-color: #0d0f12;
}

.page-stat {
    padding: 8px 16px;
    background-color: #E5E9EC;
    border: 1px solid #ddd;
    color: #6f7b8a;
}

.page-stat:hover {
    background-color: #cecfd0;
    color: #6f7b8a;
}

.page-stat span {
    margin-left: 8px;
}

.page-stat.page-active:hover {
    background-color: #6f7b8a;
    color: #fff;
}

.page-active {
    background-color: #1B1E24;
    color: #fff;
}

.media-select {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.approve-status {
    display: inline-block;
    text-align: center;
    padding: 4px 10px;
    min-width: 130px;
    background-color: #444;
    color: #fff;
}

.approve-status.good {
    background-color: #0aa699;
}

.widget-sec-drag {
    right: 30px;
}

.name-widget {
    text-transform: capitalize;
    color: #43464d;
    display: block;
    margin: 0 80px 0 25px;
}

.page-media-pop {}

.pop-filter-ar {
    position: relative;
    margin-bottom: 15px;
}

.pop-filter-ar .form-group {
    margin-top: 0;
}

.pop-filter-ar .col>.control-label {
    margin-bottom: 0;
}

.media-pop-search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.media-pop-filter {
    min-width: 130px;
    margin-right: 10px;
}

.media-img {
    position: relative;
    min-width: 120px;
    max-width: 120px;
}

.media-img .media-row {
    padding: 8px;
}

.media-img .action-link {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #1b1b1b;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
}

.widget-field-ar .file-upload {
    display: block;
}

.pop-media-list {
    margin: 0 -8px;
    height: calc(100% - 64px);
    overflow-Y: auto;
}

.single-media {
    width: 16.667%;
    padding: 8px;
}

.single-media .media {
    width: 100%;
}

.single-media-ar {
    position: relative;
}

.page-media-pop .left-media {
    width: 70%;
}

.page-media-pop .right-media {
    width: 30%;
}

.page-media-pop .media-height {
    white-space: normal;
}

.page-media-pop .dialog-content {
    height: calc(100% - 60px);
}

.dialog-footer {
    padding: 11px 30px;
    background-color: #e5e9ec;
    border-top: 1px solid rgba(0, 0, 0, .15);
    height: 60px;
    text-align: right;
}

.widget-popup-header {
    background-color: #4285f4;
    color: #fff;
    padding: 13px;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
    text-align: center;
}

.select-button,
.widget-popup-header .back-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px 10px 10px 25px;
}

.select-button {
    right: 15px;
    left: auto;
}

.widget-popup-header .back-arrow:hover {
    color: #222;
}

.widget-popup-header .back-arrow>span,
.select-button>span {
    padding-left: 10px;
}

.media-filter {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 60px;
    background: #eee;
}

.horizontal-flex {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.flex-one {
    flex: 1
}

.media-filter .form-group {
    margin: 0 10px;
    width: 300px;
}

.media-filter .form-group:last-child {
    flex: 1;
}

.widget-popup-body.media-items {
    margin: 0;
}

.widget-popup-body {
    padding: 120px 60px 60px;
    height: 100%;
    overflow: auto;
}

.media-items {
    margin: 0 0 0 -10px;
}

.media-items .col {
    width: 180px;
    padding: 10px 0 0 10px;
}

.image-selected {
    border: 5px solid #0aa699;
    ;
}

.media-items .media-img {
    background-color: #151C4E;
}

.media-items .action-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.widget-popup-body.media-items {
    margin: 0;
}

.repeat-widget-title {
    font-weight: 600;
    margin: 0 70px 0 8px;
}

/*============================================== Widgets =====================================================*/
.divider-align>.col {
    margin-right: 15px;
}

.divider-align a {
    color: #55606e;
}

.radio-button {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #55606e;
    margin-right: 5px;
    border-radius: 50%;
}

.radio-button.checke:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #55606e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -47%);
}

.set-trans {
    transform: rotate(100deg);
}

.table-filter {
    margin-bottom: 15px;
    max-width: 250px;
    margin-right: auto;
}

.grid-view {
    background-color: #fff;
    position: relative;
}

.grid-view:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 25%;
    background-color: #22262E;
}

.view-row {
    padding: 20px 15px;
    border-bottom: 1px solid;
}

.view-row:last-child {
    border: none;
}

.view-row .col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.view-label {
    width: 30%;
    min-width: 130px;
    color: #1b1b1b;
    font-size: 16px;
}

.view-value {
    width: 70%;
}


/*********** client module ***************/
.tab {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.current-tab {
    background-color: #fff;
    box-shadow: 0 -3px 5px 1px rgba(0, 0, 0, 0.12);
}

.client-section-wrap .table-form {
    padding-left: 20px;
    padding-right: 20px;
}

.list-thumb {
    width: 120px;
}

.thumb-sizer {
    padding-top: 100%;
}

.list-row .action-link{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.block {
    display: block;
}

.slide-header {
    border-bottom: 1px solid #e1e1e1;
    margin: 0 -8px;
    padding: 0 15px 15px;
    display: block;
}

.slide-body {
    display: none
}

.event-repeat .widget-name{
    padding: 15px;
}

/*********** client module ***************/


@media(max-width: 1600px) {
    .media-grid .media-row {
        width: 14.28%;
    }

    .incoming:after {
        font-size: 47px;
    }
}

@media(max-width:1400px) {
    .uploaded-file {
        width: 130px;
        height: 130px;
    }

    .media-grid .media-row {
        width: 16.66%;
    }

    .media-head i {
        font-size: 31px;
    }

    .media-title {
        font-size: 26px;
    }

    .incoming:after {
        font-size: 44px;
    }

    .search-blog .search-field-area input {
        font-size: 26px;
    }

    .search-button-area button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .gallery-item {
        width: 20%;
    }
}

@media(max-width:1200px) {

    .list-td.td-one,
    .list-td.td-two {
        width: 35%;
    }

    .list-td.td-three {
        width: 17%;
    }

    .list-td.td-Four {
        width: 13%;
    }

    /*****== error page ==******/
    .error-number {
        font-size: 110px;
    }

    .error-message {
        font-size: 30px;
    }

    .uploaded-file {
        width: 120px;
        height: 120px;
    }

    .media-grid .media-row {
        width: 20%;
    }

    .media-head i {
        font-size: 30px;
    }

    .media-title {
        font-size: 25px;
    }

    .incoming:after {
        font-size: 41px;
    }

    .search-blog .search-field-area input {
        font-size: 24px;
    }

    .incoming:after {
        font-size: 41px;
    }

    .media,
    .media-detail {
        width: 15%;
    }

    .media-thousand,
    .media-thousand.rectangle {
        display: block;
        margin-top: 10px;
    }

    .media-mobile-thousand {
        display: none;
    }

    .gallery-item {
        width: 25%;
    }
}

@media (max-width: 1024px) {

    /*****== error page ==******/
    .error-number {
        font-size: 100px;
    }

    .error-message {
        font-size: 28px;
    }

    .uploaded-file {
        width: 110px;
        height: 110px;
    }

    .search-media .search {
        display: inline-block;
        position: relative;
        top: auto;
        transform: none;
        max-width: 200px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .search .form-group {
        padding-left: 0;
    }

    .incoming:after {
        font-size: 37px;
    }

    .search-blog .search-field-area input {
        font-size: 22px;
    }

    .gallery-item {
        width: 33.33%;
    }

    .option-link {
        padding-right: 20px;
        padding-left: 20px;
    }

    .verti-center {
        padding-right: 5px;
    }

    .single-media {
        width: 20%;
    }
}

@media (max-width: 1000px) {

    .tile-ar,
    .recent-post-wrap {
        width: 50%;
        margin-bottom: 10px;
    }

    .tile-ar:last-child,
    .recent-post-wrap:last-child {
        margin-bottom: 0;
    }

    .second-row>.col {
        width: 100%;
        margin-bottom: 15px;
    }

    .second-row>.col:last-child {
        margin-bottom: 0;
    }

    .link-td-fifth {
        display: none;
    }

    .link-td.link-td-first {
        width: 20%;
    }

    .link-td.link-td-second {
        width: 43%;
    }
}

@media (max-width:860px) {

    .graph-text-ar>.row .col,
    .graph-text-ar>.row .col:first-child {
        width: 50%;
    }

    .graph-text-ar>.row .col:last-child {
        width: 100%;
    }

    .second-row {
        display: block;
    }

    .media-grid .media-row {
        width: 25%;
    }

    .search-media .search .form-group {
        padding-left: 0;
    }

    .search-media>form>.form-group,
    .search-media .search {
        margin-left: 0;
        max-width: none;
    }

    .search-media .search {
        margin-top: 15px;
    }

    .search-media>form>div {
        width: 50%;
        padding: 0 10px;
        margin-left: 0;
    }

    .search-media>form .button {
        margin-left: 10px;
        margin-top: 10px;
    }

    .with-map>.col {
        width: 100%;
        margin-bottom: 10px;
    }

    .with-map>.col:last-child {
        margin-bottom: 0;
    }

    .incoming:after {
        font-size: 34px;
    }

    .activity {
        overflow-x: auto;
    }

    .activity-wrap {
        width: 740px;
        padding-right: 20px;
    }

    .widget-grid-item {
        width: 33.33%;
    }

    .media-pop-search .control-label {
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width:820px) {
    .login-page .c {
        padding: 40px;
    }

    .list-td.td-one {
        width: 30%;
    }

    .list-td.td-two {
        width: 35%;
    }

    .list-td.td-three {
        width: 17%;
    }

    .list-td.td-Four {
        width: 13%;
    }

    .list-td.td-three {
        width: 20%;
    }

    .list-td.td-Four {
        width: 15%;
    }

    /*****== error page ==******/
    .error-number {
        font-size: 90px;
    }

    .error-message {
        font-size: 26px;
    }

    .uploaded-file {
        width: 100px;
        height: 100px;
    }

    .media-head i {
        font-size: 28px;
    }

    .media-title {
        font-size: 24px;
    }

    .incoming:after {
        font-size: 32px;
    }

    .right-media,
    .left-media {
        width: 50%;
    }

    .search-blog .close_icon {
        right: 10px;
    }

    .search-button-area button,
    .search-button-area>.button {
        margin-top: 25px;
        font-size: 16px;
    }

    .search-media form {
        width: auto;
    }

    .dialog-header {
        padding: 15px;
    }

    .table-form {
        padding-right: 30px;
        padding-left: 30px;
    }

    .single-media {
        width: 25%;
    }

    .page-media-pop .left-media {
        width: 100%;
        display: block;
        height: 100%;
    }

    .page-media-pop .right-media {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
    }

    .media-info-btn,
    .media-info-close-btn {
        display: inline-block
    }

    .widget-popup .dialog-position {
        overflow: hidden;
    }

    .widget-popup .right-media .head-text:first-child {
        padding-right: 25px;
        word-break: break-word;
    }
}

@media(max-width:768px) {
    .top-header {
        width: 100%;
        margin-left: 0;
    }

    .header-wrap {
        background-color: #22262e;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .top-header .col .head-search,
    .option-link span {
        display: none;
    }

    .search-open .head-logo {
        visibility: hidden;
        opacity: 0;
    }

    .header-wrap a,
    .header-wrap a:hover,
    .option-link {
        color: #fff;
    }

    .option-link,
    .header-wrap .head-link {
        height: 36px;
        width: 36px;
        background-color: #1b1e24;
        padding: 0;
        margin-left: 2px;
        font-size: 18px;
        position: relative;
    }

    .option-link .icn,
    .head-link .icn {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .side-bar-wrap .logo-area {
        display: none;
    }

    .side-bar-wrap .wrapper,
    .logout-area {
        width: 260px;
    }

    .scrollable {
        height: calc(100vh - 41px);
    }

    .search-ico {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    .content-right {
        padding-left: 0;
        background-color: #e5e9ec;
        z-index: 9;
    }

    .head-logo {
        visibility: visible;
        opacity: 1;
    }

    .side-bar-wrap {
        z-index: auto;
        visibility: hidden;
        opacity: 0;
        transition: visibility 2s, opacity 2s;
    }

    .content-right-wrapper {
        margin-top: 20px;
    }

    .options {
        margin: 0 25px;
        left: 0;
    }

    .search-wrap .textbox {
        color: #fff;
    }

    .verti-center {
        height: auto;
        padding-right: 0;
    }
}

@media(max-width:740px) {
    .list-td.td-three {
        width: 0;
        padding: 0;
    }

    .list-td.td-one,
    .list-td.td-two {
        width: 40%;
    }

    .list-td.td-Four {
        width: 20%;
    }

    /*****== error page ==******/
    .error-number {
        font-size: 80px;
    }

    .error-message {
        font-size: 24px;
    }

    /*****== Tile ==*******/
    .outer {
        margin: 0;
    }

    .incoming:after {
        font-size: 28px;
    }

    .media {
        width: 25%;
    }

    .media-name.media-detail {
        width: 75%;
    }

    .media-mobile-four-twenty {
        display: none;
    }

    .media-four-twenty,
    .media-four-twenty.rectangle {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #6f7b8a;
    }

    .search-blog .search-field-area {
        width: 100%;
        padding-right: 0;
    }

    .search-blog-wrap>.relative {
        text-align: center;
    }

    .gallery-item {
        width: 50%;
    }

    .link-td-third {
        display: none;
    }

    .link-td {
        padding: 11px 5px;
    }

    .link-td.link-td-first {
        width: 30%;
    }

    .link-td.link-td-second {
        width: 50%;
    }
}

@media(max-width:600px) {
    .list-td.td-one {
        width: 100%;
        padding-right: 75px;
    }

    .list-td.td-two {
        width: 0;
        padding: 0;
    }

    .list-td.td-Four {
        width: auto;
        position: absolute;
        right: 0;
    }

    .media-grid .media-row {
        width: 33.33%;
    }

    .dialog-position {
        height: 100vh;
        overflow-y: auto;
    }

    .filter-popup .dialog-position {
        height: auto;
    }

    .right-media {
        position: static;
        width: 100%;
    }

    .left-media {
        width: 100%;
    }

    .media-height,
    .dialog-content {
        white-space: normal;
        height: auto;
    }

    .p-rea.media-height.align-center.vMiddle {
        height: 205px;
    }

    .search-dialog-box .search-field-area {
        padding: 0;
    }

    .tile-ar,
    .recent-post-wrap {
        width: 100%;
        padding: 0;
    }

    .incoming:after {
        font-size: 24px;
    }

    .form-title {
        font-size: 16px;
    }

    .search-media .button-bulkdelete {
        margin-right: 15px;
    }

    .link-td-fourth {
        display: none;
    }

    .link-td.link-td-second {
        width: 70%;
    }

    .table-data {
        width: 100%;
        display: inline-block;
        padding: 10px 20px;
    }

    .table-head {
        display: none;
    }

    .flex-row,
    .table-row,
    .action-link {
        display: block;
    }

    .table-row {
        padding: 10px 0;
    }

    .table-data.table-data-actions {
        width: 65px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 10px;
    }

    .table-data::before {
        content: attr(data-title);
        display: block;
        color: #6f7b8a;
        font-size: 12px;
        padding-bottom: 5px;
        font-weight: 500;
    }

    .widget-grid-item {
        width: 50%;
    }

    .pop-filter-ar .form-group.media-pop-search {
        position: relative;
        min-width: 190px;
        transform: translateY(0);
        margin-top: 15px;
    }

    .pop-media-list {
        height: calc(100% - 125px);
    }

    .media-pop-search .control-label {
        display: none;
    }

    .header-menu-wrap .row>.col.form-group {
        width: 100%;
        padding-top: 10px;
    }

    .grid-view:after {
        display: none;
    }

    .view-row .col {
        width: 100%;
    }

    .view-value {
        padding: 10px 10px 0;
    }

    .view-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media(max-width:500px) {
    .media-grid .media-row {
        width: 50%;
    }

    .search-media>form>.form-group,
    .search-media .search {
        width: 100%;
        margin-top: 10px;
    }

    .search-media>form>.form-group:first-child {
        margin-top: 0;
    }

    .search-media>form>div {
        padding: 0;
    }

    /*************** Activity *******************/
    .search-filter .col_2 {
        width: 100%;
        margin-top: 20px;
        padding: 0;
    }

    .search-filter {
        margin: 0;
    }

    .table-head {
        padding: 10px 35px 10px 10px;
    }

    .search-filter:first-child {
        margin: -20px 0 0 0;
    }

    .textbox,
    input.textbox {
        padding: 8px;
    }

    .button {
        padding: 8px;
    }

    :global .Toastify__close-button {
        padding-left: 10px;
    }

    .search-filter {
        padding-top: 10px;
    }

    .search-filter:first-child {
        padding-top: 0;
    }

    .btn-fa-icon {
        height: 32px;
    }

    /*************** Activity *******************/

    .media-btn {
        margin-top: 10px;
    }
}

@media(max-width:420px) {
    .login-page .c {
        padding: 40px 30px;
    }

    .grid,
    .form-wrap .form-actions,
    .form-wrap .form-fields {
        padding-left: 16px;
        padding-right: 16px
    }

    .userList .grid-head {
        display: flex;
    }

    .grid-head .search {
        width: 80%;
        display: inline-block;
    }

    .grid-head .download {
        display: inline-block;
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .grid-head .search .control-label {
        display: none;
    }

    .grid-head .search .form-group {
        padding-left: 0;
    }

    .grid-head .search .form-group input::placeholder {
        visibility: visible;
        opacity: 1;
    }

    .pagination {
        display: flex;
        flex-direction: column;
    }

    .pagination-number {
        order: 1;
        margin-bottom: 10px;
    }

    .pagination-text {
        order: 2;
    }

    .btn-cons {
        min-width: 110px;
    }

    .reset-btn {
        padding: 5px;
        border: 1px solid rgba(81, 80, 80, 0.4);
        border-radius: 3px;
        background-color: #fff;
    }

    .reset-btn span {
        display: none;
    }

    .reset-btn i {
        margin: 0;
    }

    .content-right>.row>.col {
        width: 100%;
    }

    .content-right>.row>.col:last-child {
        padding-bottom: 0;
    }

    .content-right>.row>.col.right {
        text-align: left;
    }

    .second-row>.col,
    .graph-text-ar>.row .col,
    .graph-text-ar>.row .col:first-child,
    .graph-text-ar>.row .col:last-child {
        width: 100%;
    }

    .media-title {
        font-size: 22px;
    }

    .media-head .button {
        padding: 6px 10px;
    }

    .incoming:after {
        font-size: 18px;
    }

    .search-blog .close_icon {
        top: 0;
        right: 10px;
    }

    .search-media {
        margin-top: 15px;
    }

    .media-name.media-detail {
        font-size: 14px;
        padding: 0 15px;
    }

    .search-media .button-bulkdelete {
        margin-right: 10px;
    }

    .search-media .btn-cons {
        min-width: 85px;
    }

    .media-row {
        padding: 10px;
    }

    .media {
        width: 35%;
    }

    .media-name.media-detail {
        width: 65%;
    }

    .search-media.search-media-button .button-bulkdelete {
        margin-left: 10px;
    }

    .search-media.search-media-button.search-media-gallery-button .button-bulkdelete {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .link-td-second,
    .single-gallery-ar>.row>.col.right>span {
        display: none;
    }

    .link-td.link-td-first {
        width: 100%;
    }

    .media-head .list-counts {
        right: 0;
    }

    .single-gallery-ar>.row>.col {
        width: 50%;
        white-space: nowrap;
    }

    .addnew {
        padding: 25px;
    }

    .addnew .close-upload-ar {
        font-size: 22px;
    }

    .single-gallery-ar>.row>.col.right {
        text-align: right;
    }

    .react-datepicker-popper {
        margin-left: -20px;
    }

    .table-form {
        padding-right: 20px;
        padding-left: 20px;
    }

    .single-media {
        width: 50%;
    }

    .widget-label {
        font-size: 16px;
    }
}

@media(max-width:360px) {

    .grid,
    .form-wrap .form-fields,
    .form-wrap .form-actions {
        padding-left: 10px;
        padding-right: 10px
    }

    .media-title {
        font-size: 20px;
    }

    .incoming:after {
        font-size: 26px;
    }

    .incoming:after {
        font-size: 16px;
    }

    .filter-popup .dialog-content {
        padding: 0;
    }

    .dialog-header,
    .dialog-close .icons {
        padding: 10px;
    }

    .dialog-position {
        padding-top: 41px;
    }

    .react-datepicker-popper {
        margin-left: -35px;
    }

    .widget-grid-item {
        width: 100%;
    }

    .media-pop-filter {
        display: block;
    }

    .pop-media-list {
        height: calc(100% - 160px);
    }

    .page-create-ar .table-form {
        padding: 0
    }
}

@media(max-width:320px) {
    .content-right>.row {
        padding: 20px;
    }

    .bread-row {
        padding: 20px 20px 0 20px;
    }

    .search-media .button-bulkdelete {
        margin-right: 10px;
    }

    .search-media .btn-cons {
        min-width: 75px;
    }

    .react-datepicker-popper {
        margin-left: -50px;
    }

    .table-form {
        padding-right: 15px;
        padding-left: 15px;
    }

    .part-title {
        margin: 0 -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .part-title .svg-inline--fa {
        right: 15px;
    }
}