.rectangle {
    position: relative;
    overflow: hidden;
    display: block;
}

.rectangle::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: loadingAnimation 1s linear infinite;
    background: linear-gradient(to right, rgba(236, 240, 242, 0) 46%, rgba(236, 240, 242, 0.35) 50%, rgba(236, 240, 242, 0) 54%) 50% 50%;
}

.media-placeholder {
    display: inline-block;
    width: 100%;
}

.media-placeholder .media-detail {
    padding: 0 25px;
}

.bg {
    background-color: #fff;
}

.media-head .rectangle {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 10%;
}

.user-list-place .rectangle {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 42px;
    width: 25%;
}

.user-list-place .rectangle::before, .user-update-place .row .inner>div::before, .buttons:before, .img-cont:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: loadingAnimation 1s linear infinite;
    background: linear-gradient(to right, rgba(236, 240, 242, 0) 46%, rgba(236, 240, 242, 0.35) 50%, rgba(236, 240, 242, 0) 54%) 50% 50%;
}

.user-list-place.row-colum:nth-child(even) .rectangle::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}

.user-list-place.row-colum {
    background-color: #fff;
}

.user-list-place.row-colum:nth-child(even) {
    background-color: #ECF0F2;
}

/**== Update Form ==**/

.user-update-place {
    padding: 0 20px;
}

.user-update-place .row {
    margin-top: 20px;
}

.user-update-place .row .inner {
    position: relative;
    border: 1px solid #e5e9ec;
    padding: 11px;
    overflow: hidden;
}

.user-update-place .row .inner>div {
    position: relative;
    height: 15px;
}

.user-update-place .row .inner>div::before {
    background: linear-gradient(to right, rgba(111, 123, 138, 0) 46%, rgba(111, 123, 138, 0.35) 50%, rgba(111, 123, 138, 0) 54%) 50% 50%;
}

.user-update-place .imge-row .inner {
    border-color: transparent;
}

.user-update-place .imge-row .inner>div {
    height: 35px;
}
.user-update-place .buttons .inner, .user-update-place .picture .inner {
    padding: 0;
    height: 100%; 
}
.user-update-place .buttons .inner>div, .user-update-place .picture .inner>div {
    height: 100%;   
}

.user-update-place .controls-label {
    color: #55606e;
    font-size: 14px;
    margin-bottom: 10px;
}

.user-update-place .buttons {
    position: relative;
    width: 136px;
    height: 37px;
    overflow: hidden;
    background-color: transparent;
}

.img-cont {
    position: relative;
    height: 140px;
    width: 140px;
    overflow: hidden;
    margin-top: 10px;
}

/**== Update Form ==**/

@keyframes loadingAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}

@media (max-width: 1200px) {
    .user-list-place .rectangle.t-one, .user-list-place .rectangle.t-two {
        width: 35%;
    }
    .user-list-place .rectangle.t-three {
        width: 17%;
    }
    .user-list-place .rectangle.t-four {
        width: 13%;
    }
}

@media (max-width: 820px) {
    .user-list-place .rectangle.t-one {
        width: 30%;
    }
    .user-list-place .rectangle.t-three {
        width: 20%;
    }
    .user-list-place .rectangle.t-four {
        width: 15%;
    }
}

@media (max-width: 740px) {
    .user-list-place .rectangle.t-one, .user-list-place .rectangle.t-two {
        width: 40%;
    }
    .user-list-place .rectangle.t-three {
        display: none;
    }
    .user-list-place .rectangle.t-four {
        width: 20%;
    }
}

@media (max-width:600px) {
    .user-list-place .rectangle.t-one {
        width: 75%;
    }
    .user-list-place .rectangle.t-four {
        width: 25%;
    }
    .user-list-place .rectangle.t-two {
        display: none;
    }
}

@media (max-width: 500px) {
    .media-grid  .media-placeholder {
        width: 50%;
    }
}
@media (max-width: 360px) {

}