.tool-tip{	
	position: absolute;
	left: 50%;
	opacity: 0;
	visibility: hidden;
    line-height: 1;
	transform: translateY(5px);
}
*:hover > .tool-tip{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
	transition: visibility 0.01s, opacity 0.3s 0.01s, transform 0.3s 0.01s;
}
.tool-tip .center{
	position: relative;
	background: black;
	background: rgba(0, 0, 0, 0.9);
	left: -50%;
    line-height: 1;
	color: #fff;
	padding: 10px 15px;
    white-space: nowrap;
	text-transform: none;
	font-weight: normal;
	font-size: 13px;
	border-radius: 8px;
}
.tool-tip .scroller {
	max-height: 210px;
	overflow: auto;
	overflow-x: hidden;
	line-height: 1.2;
}
.tool-tip-icon {
	position: absolute;
	left: 0;
	color: rgba(0, 0, 0, 0.9);
	font-size: 18px;
    margin-left: -5px;
}
.top {
	margin-bottom: 8px;
	bottom: 100%;
}
.top .tool-tip-icon {
	bottom: -11px;
}
.bottom {
	top: 100%;
	margin-top: 11px;
}
.bottom .tool-tip-icon {
	top: -11px;
}
.right .center {
	left: -20px;
}